@font-face {
	font-family: "Amasis";
	src: url("../fonts/amasismt-medium.ttf"); 
}
	
html {
  min-width: 320px;
  background: #fff;
	max-height: 999999px !important;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #323C52;
  margin: 0 auto; }

  header {
	width: 100%;
	height: 48px;
	background: #47C4C6;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.20);
	display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 100;
}

/* Rules for sizing the icon */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Colors */
.material-icons.md-grey 	{ color: rgba(119, 125, 140, 1.0); }
.material-icons.md-red 		{ color: rgba(241, 103, 108, 1.0); }
.material-icons.md-green 	{ color: rgba(71, 196, 198, 1.0); }


.content {
	max-width: 780px;
	margin: 0 auto;
}

header .logo {
	margin: 4px 0 0;
}

input[type=text] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.ic_error {
	width: 24px;
	height: 24px;
    -webkit-mask-image: url('../images/ic/error.svg');
    mask-image: url('../images/ic/error.svg');
}
.ic_check_circle{
	width: 24px;
	height: 24px;
    -webkit-mask-image: url('../images/ic/check_circle.svg');
    mask-image: url('../images/ic/check_circle.svg');
}

.bg {
	background: rgba(241,103,108,0.0);
}

.align-center {
	text-align: center;
}
h1 {
	font-family: Amasis;
	font-size: 24px;
	line-height: 32px;
	padding: 8px 0;
	margin: 0;
	font-weight: 300;
	margin: 0 0 0px;
}

h2 {
	font-size: 18px;
	line-height: 24px;
	padding: 6px 0 2px;
	margin: 0 0 8px;
	font-weight: 500;
	
}

#logo {
	width: 68px;
	margin: 14px auto;
}



.intro {
	background: #ECF9F9;
	padding: 0;
	position: relative;
}
.intro-question {
}
.intro-question-description {
	padding: 0 0 4px;
	margin-top: -8px;
}

.rating-stars {
	
}
.rating-stars-wrap {
	width: 160px;
	height: 32px;
	margin: 0 auto;
	padding: 0;
	display: flex;
    justify-content: space-between;
}
.rating-star {
	width: 32px;
	height: 32px;
	margin: 0;
	padding: 0;
	cursor: pointer;
    background-color: #018794;
    -webkit-mask-image: url('../images/ic/star_off.svg');
    mask-image: url('../images/ic/star_on.star_off');
    transition: all 0.2s;
}
.rating-star.star-on {
    -webkit-mask-image: url('../images/ic/star_on.svg');
    mask-image: url('../images/ic/star_on.svg');
}
.rating-star.hover {
    background-color: #47C4C6;
}
.rating-stars-title {
	font-weight: 500;
	font-size: 14px;
	color: #018794;
	text-align: center;
	line-height: 16px;
	margin: 8px 0 0;
	padding: 5px 0 3px;
    transition: all 0.2s;
}
.rating-stars-title.hover {
	color: #47C4C6;
}



.quick-answer {
	margin: 0 -16px;
}
.quick-answer-slider {
	margin: 0 0;
	padding: 0 16px;
	overflow-x: scroll;
}
.quick-answer-slider-inner {
	display: flex;
	justify-content: space-between;
}
.quick-answer-slider-item {
	width: 96px;
	height: 136px;
	margin: 8px 8px 0 0;
	padding: 0;
	position: relative;
	cursor: pointer;
}
.quick-answer-slider-item:last-child {
}
.quick-answer-slider-item .image {
	width: 80px;
	height: 80px;
	position: relative;
	margin: 8px 8px 0;
}
.quick-answer-slider-item .image img {
	width: 104px;
	height: 104px;
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    transition: all 0.2s;
}
.quick-answer-slider-item .check-circle {
	position: absolute;
	z-index: 0;
	top: 50%;
	left: 50%;
	width: 78px;
	height: 78px;
	border-radius: 50%;
	background: #47C4C6;
	transform: translate(-50%, -50%);
    transition: all 0.2s;
}
.quick-answer-slider-item.checked .check-circle {
	width: 92px;
	height: 92px;
	background: #018794;
}
.quick-answer-slider-item:hover .check-circle {
	width: 92px;
	height: 92px;
}
.quick-answer-slider-item:active .check-circle {
	width: 98px;
	height: 98px;
}
.quick-answer-slider-item:hover img {
	width: 112px;
	height: 112px;	
}
.quick-answer-slider-item.checked img {
	width: 112px;
	height: 112px;
}
.quick-answer-slider-item:active img {
	width: 118px;
	height: 118px;
}

.quick-answer-slider-item .check-wrap {
	position: absolute;
	top: 60px;
	left: 56px;
	width: 32px;
	height: 32px;
	background-color: #018794;
    z-index: 2;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.2s;
}
.quick-answer-slider-item.checked .check-wrap {
	top: 55px;
	opacity: 1;
}

.quick-answer-slider-item .material-icons {
	color: #fff;
	padding: 4px;
}

.quick-answer-slider-item .title {
	margin: 11px 0 0;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
}
.quick-answer-slider-item:hover .title {
	color: #018794;
}




.review {
	margin: 16px 0 0;
}
.review h2 span.optional {
	font-weight: normal;
	color: #989DA8;	
}

.review textarea {
	display: block;
	width: 100%;
	height: 104px;
	border: 1px solid #BABEC5;
	border-radius: 4px 4px 0 0;
	padding: 16px;
    margin: 0;
    box-sizing: border-box;
    resize: none;
	font-size: 16px;
	line-height: 24px;
	box-shadow: none;
	outline: none;    
    -webkit-appearance: none;
    -moz-appearance: none;
}
.review textarea:focus {
	outline: none;
	border: 1px solid #018794;
	padding: 16px;
}
.review .textarea-progress {
    box-sizing: border-box;
	padding: 12px 8px 11px;
	margin: 0;
	font-size: 14px;
	line-height: 16px;
	border: 1px solid #BABEC5;
	border-width: 0 1px 1px;
	border-radius: 0 0 4px 4px;
	background: #F5F6F8;
	position: relative;
}
.review .textarea-progress-indicator {
	position: absolute;
	top: 12px;
	left: 12px;
	width: 24px;
	height: 24px;
	display: block;
	float: left;
	color: #018794;
}
.review .textarea-progress-indicator .ic_error {
	background: #989DA8;
}
.review .textarea-progress-indicator .ic_check_circle {
	background: #018794;
}

.review .textarea-progress-message {
	display: block;
	padding: 4px 0 4px 32px;
}



.progress-bar {
    --size: 24px;
    --radius: 8;
    --percent: 0;
    --width: 3px;

    --bar-color: #018794;
    --inactive-color: #D2D4D9;

    height: var(--size);
    width: var(--size);
    border-radius: 50%;
    margin: auto;
    margin-bottom: 30px;
}

.progress-bar svg {
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
}
.progress-bar .shadow {
    stroke: var(--inactive-color);
}

.progress-bar .progress-bar-element {
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 0.5s, stroke .5s;
    stroke-width: var(--width);
    cx: 50%;
    cy: 50%;
    r: var(--radius);
    fill: transparent;
    stroke-dashoffset: 0;
}

.progress-bar .progress {
    stroke: var(--bar-color);
    stroke-dashoffset: calc(((100 - var(--percent)) / 100) * 3.14 * 2 * var(--radius));
    stroke-dasharray: calc(3.14 * 2 * var(--radius));
}






.bottom-sticky {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	padding: 8px 16px;
	background: #fff;
	border-top: 1px solid #D2D4D9;
	z-index: 100;
}
.button {
	display: block;
	border-radius: 4px;
	font-weight: 500;
	font-size: 18px;
	text-align: center;
	line-height: 18px;
	padding: 15px 32px;
	margin: 0;
	text-decoration: none;
    transition: all 0.5s;

}

@media only screen and (min-width: 480px) {
	.bottom-sticky {
		position: relative;
		border-top: 0px solid #D2D4D9;
		text-align: center;
	}
	.bottom-block {
		text-align: center;
	}
	.button {
		display: inline-block;
		max-width: 200px;
		margin: 0 auto;
		padding: 19px 56px 19px 64px;
	}
}
.button.button-green {
	background: #018794;
	color: #FFFFFF;
}
.button.button-green:hover {
	background: #006E7B;
}
.button.button-grey {
	background: #D2D4D9;
	color: #323C52;
}
.button.button-grey:hover {
	background: #BFC3CC;
}

.button.button-purple {
	background: #A04A85;
	color: #fff;
}
.button.button-purple:hover {
	background: #87316C;
}

.button .material-icons {
	vertical-align: middle;
	margin: -6px 0;
}	





.icon-image {
	width: 80px;
	height: 80px;
	position: relative;
	margin: 8px 8px 0;
}
.icon-right-top {
	float: right;
	margin: 16px 0 16px 16px;
}
.icon-image img {
	width: 104px;
	height: 104px;
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    transition: all 0.2s;
}


.question-stepper {

}
.question-stepper-title {
	margin: 8px 0;
	padding: 3px 0 5px;
	font-size: 14px;
	color: #953677;
	letter-spacing: 1.5px;
	line-height: 16px;
	font-weight: 500;
	text-transform: uppercase;
}
.question-stepper-steps {
	width: 100%;
	margin: 0 0 8px;
	display: flex;
    justify-content: space-between;
}
.question-stepper-steps > div {
	width: 24.5%;
	height: 8px;
	background: #E7D4E1;
	border-radius: 2px;
}
.question-stepper-steps > div > div {
	height: 8px;
	background: #953677;
	width: 0;
	border-radius: 2px;
    transition: all 0.2s;
    transition-delay: 0.5s;
}
.question-stepper-steps > div:first-child > div {
}
.question-stepper-steps > div.active > div {
	width: 100%;
}







.question-type-icons {
	width: 300px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.question-type-icons-item {
	width: 96px;
	height: 136px;
	margin: 0 8px 0 0;
	padding: 0;
	position: relative;
	cursor: pointer;
}
.question-type-icons-item:last-child { 
	margin: 0;
}
.question-type-icons-item .icon-wrap {
	width: 80px;
    height: 80px;
    position: relative;
    margin: 8px 8px 0;
}
.question-type-icons-item .icon_bg {
	width: 80px;
	height: 80px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: #FFFFFF;
	border: 1px solid #BABEC5;
	border-radius: 50%;
    transition: all 0.2s;
}
.question-type-icons-item:hover .icon_bg {
	width: 88px;
	height: 88px;
}
.question-type-icons-item:active .icon_bg {
	width: 96px;
	height: 96px;
}
.question-type-icons-item .material-icons {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
    transition: all 0.2s;
}
.question-type-icons-item:hover .material-icons,
.question-type-icons-item.active .material-icons {
	font-size: 56px;
}
.question-type-icons-item.active .material-icons {
	color: #fff;
}
.question-type-icons-item.grey.active .icon_bg {
	background: #777D8C;
	border: 1px solid #777D8C;
	width: 88px;
	height: 88px;
}
.question-type-icons-item.red.active .icon_bg {
	background: #F1676C;
	border: 1px solid #F1676C;
	width: 88px;
	height: 88px;
}
.question-type-icons-item.green.active .icon_bg {
	background: #47C4C6;
	border: 1px solid #47C4C6;
	width: 88px;
	height: 88px;
}
.question-type-icons-item .title {
	margin: 11px 0 0;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
}



.question-type-options {
	padding: 8px 0 0;
}
.question-type-options-item {
	margin: 0 0 8px;
	padding: 11px 12px 11px 44px;
	background: #FFFFFF;
	border: 1px solid #BABEC5;
	border-radius: 4px;
	position: relative;
	font-size: 16px;
	color: #323C52;
	line-height: 24px;
	cursor: pointer;
	box-sizing: border-box;
    transition: all 0.2s;
}
.question-type-options-item.active {
	background: #47C4C6;
	border: 1px solid #47C4C6;
	color: #fff;
}
.question-type-options-item .material-icons {
	position: absolute;
	top: 11px;
	left: 11px;
    transition: all 0.2s;
}
.question-type-options-item .material-icons.blank {
	color: #BABEC5;
}
.question-type-options-item.active .material-icons.blank {
	opacity: 0;
}
.question-type-options-item .material-icons.checked {
	color: #fff;
	opacity: 0;
}
.question-type-options-item.active .material-icons.checked {
	opacity: 1;
}







.intro_step.success-intro.active {
	background: #47C4C6;
	color: #fff;
	padding: 32px 16px;
	text-align: center;
}
.success-intro .icon_wrap {
	width: 120px;
	height: 120px;
	margin: 0 auto;
	position: relative;
}
.success-intro .icon_wrap img {
	width: 160px;
	height: 160px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.success-intro-text {
	font-size: 16px;
	line-height: 24px;
}



.content-success {
	background: #ECF9F9;
	padding: 16px;
}

.product_card {
	background: #FFFFFF;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16);
	border-radius: 4px;
	cursor: pointer;
}
.product_card img {
	width: 100%;
	border-radius: 4px 4px 0 0;
}
.product_card .title {
	font-size: 16px;
	color: #323C52;
	line-height: 20px;
	padding: 8px 16px 4px;
	font-weight: 500;
}
.product_card .description {
	font-size: 13px;
	color: #606778;
	line-height: 18px;
	height: 36px;
	padding: 0px 16px;
}
.product_card .price {
	font-size: 18px;
	color: #323C52;
	line-height: 24px;
	padding: 8px 16px 16px;
	font-weight: 700;
}

.recomendation_slider {
	padding: 16px 0;
	display: grid;
	grid-column-gap: 16px;
	grid-row-gap: 16px;
	grid-template-columns: auto;
}


@media only screen and (min-width: 480px) {
	.recomendation_slider {
		grid-template-columns: 1fr 1fr;
	}
}
@media only screen and (min-width: 780px) {
	.recomendation_slider {
		grid-template-columns: 1fr 1fr 1fr;
	}
}




.intro_step,
.content_step {
	display: block;
	opacity: 0;
	height: 0;
	overflow-y: hidden;
	transition: opacity 0.2s;
	padding: 0;
/*	max-width: 616px; */
	margin: 0 auto;
}
.intro_step.active,
.content_step.active {
	opacity: 1.0;
	height: auto;
	display: block;
	padding: 16px;
}

.content_step.active {
	padding: 16px 16px 80px;
}

#content_2.content_step.active,
#content_3.content_step.active,
#content_4.content_step.active,
#content_5.content_step.active {
	max-width: 448px;
	margin: 0 auto;
}

@media only screen and (min-width: 480px) {
	.content_step.active {
		padding: 48px 16px;
	}
}
.intro_step {
	padding: 0;
}
.intro_step.active {
	padding: 16px;
}

#content_6.active {
	background-color: #ecf9f9;
	padding: 16px 16px 32px;;
}



