html {
  min-width: 320px;
  background: #fff;
	max-height: 999999px !important;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323C52;
  margin: 0 auto; }

header {
	width: 100%;
	height: 48px;
	background: #47C4C6;
	_box-shadow: 0 2px 4px 0 rgba(0,0,0,0.20);
	display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 100;
}

header .logo {
	margin: 4px 0 0;
}

input[type=text] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.ic_error {
	width: 24px;
	height: 24px;
    -webkit-mask-image: url('../images/ic/error.svg');
    mask-image: url('../images/ic/error.svg');
}
.ic_check_circle{
	width: 24px;
	height: 24px;
    -webkit-mask-image: url('../images/ic/check_circle.svg');
    mask-image: url('../images/ic/check_circle.svg');
}

.bg {
	background: rgba(241,103,108,0.1);
}

h1 {
	font-size: 24px;
	line-height: 32px;
	padding: 8px 0;
	margin: 0;
	font-weight: 700;
}

h2 {
	font-size: 18px;
	line-height: 24px;
	padding: 6px 0 2px;
	margin: 0;
	font-weight: 500;
	
}

#logo {
	width: 68px;
	margin: 14px auto;
}



.intro {
	background: #ECF9F9;
	padding: 16px;
	position: relative;
}
.intro-question {
	padding: 16px 120px 16px 16px;
}
.intro h1 {
	text-align: center;
	margin: 0 0 8px;
}
.intro-question h1 {
	text-align: left;
}
.intro-question-description {
	padding: -1px 0 3px;
}

.rating-stars {
	
}
.rating-stars-wrap {
	width: 160px;
	height: 32px;
	margin: 0 auto;
	padding: 0;
	display: flex;
    justify-content: space-between;
}
.rating-star {
	width: 32px;
	height: 32px;
	margin: 0;
	padding: 0;
	cursor: pointer;
    background-color: #018794;
    -webkit-mask-image: url('../images/ic/star_off.svg');
    mask-image: url('../images/ic/star_on.star_off');
    transition: all 0.2s;
}
.rating-star.star-on {
    -webkit-mask-image: url('../images/ic/star_on.svg');
    mask-image: url('../images/ic/star_on.svg');
}
.rating-star.hover {
    background-color: #47C4C6;
}
.rating-stars-title {
	font-weight: 500;
	font-size: 14px;
	color: #018794;
	text-align: center;
	line-height: 16px;
	margin: 8px 0 0;
	padding: 5px 0 3px;
    transition: all 0.2s;
}
.rating-stars-title.hover {
	color: #47C4C6;
}

.content {
	margin: 0;
	padding: 16px 16px 80px;
}



.quick-answer h2 {
	text-align: center;
}
.quick-answer-slider {
	height: 144px;
	margin: 0 -16px;
	padding: 0 16px;
	overflow-x: scroll;
}
.quick-answer-slider-inner {
	display: flex;
	justify-content: space-between;
}
.quick-answer-slider-item {
	width: 96px;
	height: 136px;
	margin: 8px 8px 0 0;
	padding: 0;
	position: relative;
	cursor: pointer;
}
.quick-answer-slider-item:last-child {
	padding-right: 16px;
}
.quick-answer-slider-item .image {
	width: 80px;
	height: 80px;
	position: relative;
	margin: 8px 8px 0;
}
.quick-answer-slider-item .image img {
	width: 104px;
	height: 104px;
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    transition: all 0.2s;
}
.quick-answer-slider-item .check-circle {
	position: absolute;
	z-index: 0;
	top: 50%;
	left: 50%;
	width: 78px;
	height: 78px;
	border-radius: 50%;
	background: #47C4C6;
	transform: translate(-50%, -50%);
    transition: all 0.2s;
}
.quick-answer-slider-item.checked .check-circle {
	width: 92px;
	height: 92px;
	background: #018794;
}
.quick-answer-slider-item:hover .check-circle {
	width: 92px;
	height: 92px;
}
.quick-answer-slider-item:active .check-circle {
	width: 98px;
	height: 98px;
}
.quick-answer-slider-item:hover img {
	width: 112px;
	height: 112px;	
}
.quick-answer-slider-item.checked img {
	width: 112px;
	height: 112px;
}
.quick-answer-slider-item:active img {
	width: 118px;
	height: 118px;
}

.quick-answer-slider-item .check-wrap {
	position: absolute;
	top: 60px;
	left: 59px;
	width: 32px;
	height: 32px;
	background-color: #018794;
    z-index: 2;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.2s;
}
.quick-answer-slider-item.checked .check-wrap {
	top: 55px;
	opacity: 1;
}

.quick-answer-slider-item.checked .check {
	width: 32px;
	height: 32px;
	background-color: #fff;
    -webkit-mask-image: url('../images/ic/check.svg');
    mask-image: url('../images/ic/check.svg');
}

.quick-answer-slider-item .title {
	margin: 11px 0 0;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
}
.quick-answer-slider-item:hover .title {
	color: #018794;
}




.review {
	margin: 16px 0 0;
	padding: 0;
}
.review h2 {
	text-align: center;
	margin-bottom: 8px;
}
.review h2 span.optional {
	font-weight: normal;
	color: #989DA8;	
}

.review textarea {
	display: block;
	width: 100%;
	height: 104px;
	border: 1px solid #BABEC5;
	border-radius: 4px 4px 0 0;
	padding: 16px;
    margin: 0;
    box-sizing: border-box;
    resize: none;
	font-size: 16px;
	line-height: 24px;
	box-shadow: none;
	outline: none;    
    -webkit-appearance: none;
    -moz-appearance: none;
}
.review textarea:focus {
	outline: none;
	border: 2px solid #47C4C6;
	padding: 15px;
}
.review .textarea-progress {
    box-sizing: border-box;
	padding: 12px 8px 11px;
	margin: 0;
	font-size: 14px;
	line-height: 16px;
	border: 1px solid #BABEC5;
	border-width: 0 1px 1px;
	border-radius: 0 0 4px 4px;
	background: #F5F6F8;
	position: relative;
}
.review .textarea-progress-indicator {
	position: absolute;
	top: 12px;
	left: 12px;
	width: 24px;
	height: 24px;
	display: block;
	float: left;
}
.review .textarea-progress-indicator .ic_error {
	background: #989DA8;
}
.review .textarea-progress-indicator .ic_check_circle {
	background: #018794;
}

.review .textarea-progress-message {
	display: block;
	padding: 4px 0 4px 32px;
}



.progress-bar {
    --size: 24px;
    --radius: 8;
    --percent: 0;
    --width: 3px;

    --bar-color: #018794;
    --inactive-color: #D2D4D9;

    height: var(--size);
    width: var(--size);
    border-radius: 50%;
    margin: auto;
    margin-bottom: 30px;
}

.progress-bar svg {
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
}
.progress-bar .shadow {
    stroke: var(--inactive-color);
}

.progress-bar .progress-bar-element {
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 0.5s, stroke .5s;
    stroke-width: var(--width);
    cx: 50%;
    cy: 50%;
    r: var(--radius);
    fill: transparent;
    stroke-dashoffset: 0;
}

.progress-bar .progress {
    stroke: var(--bar-color);
    stroke-dashoffset: calc(((100 - var(--percent)) / 100) * 3.14 * 2 * var(--radius));
    stroke-dasharray: calc(3.14 * 2 * var(--radius));
}






.bottom-sticky {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	padding: 8px 16px;
	background: #fff;
	border-top: 1px solid #D2D4D9;
	z-index: 100;
}
.button {
	display: block;
	border-radius: 4px;
	font-weight: 500;
	font-size: 18px;
	text-align: center;
	line-height: 18px;
	padding: 15px 32px;
	margin: 0;
	text-decoration: none;
	-webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;

}
.button.button-green {
	background: #018794;
	color: #FFFFFF;
}
.button.button-green:hover {
	background: #006973;
}






.icon-image {
	width: 80px;
	height: 80px;
	position: relative;
	margin: 8px 8px 0;
}
.icon-right-top {
	position: absolute;
	top: 16px;
	right: 8px;
}
.icon-image img {
	width: 104px;
	height: 104px;
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    transition: all 0.2s;
}


.question-stepper {

}
.question-stepper-title {
	margin: 8px 0;
	padding: 3px 0 5px;
	font-size: 14px;
	color: #953677;
	letter-spacing: 1.5px;
	line-height: 16px;
	font-weight: 500;
	text-transform: uppercase;
}
.question-stepper-steps {
	width: 100%;
	margin: 0 0 8px;
	display: flex;
    justify-content: space-between;
}
.question-stepper-steps > div {
	width: 19.5%;
	height: 8px;
	background: #E7D4E1;
	border-radius: 2px;
}
.question-stepper-steps > div > div {
	height: 8px;
	background: #953677;
	width: 0;
	border-radius: 2px;
    transition: all 0.2s;
}
.question-stepper-steps > div.step-on > div {
	width: 100%;
}

.content-question {
	padding: 32px 16px;
}
.content-question h1 {
	text-align: center;
}






.question-answer {
	width: 300px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.question-answer-item {
	width: 96px;
	height: 136px;
	margin: 8px 8px 0 0;
	padding: 0;
	position: relative;
	cursor: pointer;
}
.question-answer-item .icon-wrap {
	width: 80px;
    height: 80px;
    position: relative;
    margin: 8px 8px 0;
}
.question-answer-item .icon_bg {
	width: 80px;
	height: 80px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: #FFFFFF;
	border: 1px solid #BABEC5;
	border-radius: 50%;
    transition: all 0.2s;
}
.question-answer-item:hover .icon_bg {
	width: 92px;
	height: 92px;
}
.question-answer-item .icon {
	width: 48px;
	height: 48px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.question-answer-item .icon.grey {
	background-color: #777D8C;
}
.question-answer-item .icon.red {
	background-color: #F1676C;
}
.question-answer-item .icon.green {
	background-color: #47C4C6;
}
.question-answer-item .icon.icon-bad {
    -webkit-mask-image: url('../images/ic/smile_bad.svg');
    mask-image: url('../images/ic/smile_bad.svg');
}
.question-answer-item .icon.icon-neutral {
    -webkit-mask-image: url('../images/ic/smile_neutral.svg');
    mask-image: url('../images/ic/smile_neutral.svg');
}
.question-answer-item .icon.icon-good {
    -webkit-mask-image: url('../images/ic/smile_good.svg');
    mask-image: url('../images/ic/smile_good.svg');
}
.question-answer-item .title {
	margin: 11px 0 0;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
}