@font-face {
	font-family: "Amasis";
	src: url("../fonts/amasismt-medium.ttf"); 
}





/* Basic */
	
html {
  min-width: 320px;
  background: #fff;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #323C52;
  margin: 0 auto;
}
h1 {
	font-family: Amasis;
	font-size: 24px;
	line-height: 32px;
	padding: 8px 0 0;
	margin: 0;
	font-weight: 300;
	margin: 0 0 0px;
}

h2 {
	font-size: 18px;
	line-height: 24px;
	padding: 6px 0 2px;
	margin: 0 0 8px;
	font-weight: 500;
	
}
p {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding: 0;
}
.align-center {
	text-align: center;
}
input[type=text] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.content {
	max-width: 780px;
	margin: 0 auto;
}
span.optional {
	font-weight: normal;
	color: #989DA8;	
}





/* Top bar */

.top_bar {
	width: 100%;
	height: 48px;
	background: #47C4C6;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.20);
	display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 100;
}
.top_bar .logo {
	margin: 4px 0 0;
}





/* Header */

.header {
	background: #ECF9F9;
	padding: 0;
	position: relative;
}
.header_step .icon {
	width: 80px;
	height: 80px;
	position: relative;
	margin: 8px 8px 0;
	float: right;
	margin: 16px 0 16px 16px;
}
.header_step .icon img {
	width: 104px;
	height: 104px;
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    transition: all 0.2s;
}
.header_step.header_success.active {
	background: #47C4C6;
	color: #fff;
	padding: 32px 16px;
	text-align: center;
}
.header_step.header_success .icon {
	width: 120px;
	height: 120px;
	margin: 0 auto;
	position: relative;
	float: none;
}
.header_step.header_success .icon img {
	width: 160px;
	height: 160px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.header_step {
	padding: 0;
}
.header_step.active {
	padding: 16px;
}




/* Progress bar */

.progress_bar .title {
	margin: 8px 0;
	padding: 3px 0 5px;
	font-size: 14px;
	color: #953677;
	letter-spacing: 1.5px;
	line-height: 16px;
	font-weight: 500;
	text-transform: uppercase;
}
.progress_bar .steps {
	width: 100%;
	margin: 0 0 8px;
	display: flex;
    justify-content: space-between;
}
.progress_bar .steps .step {
	width: 19.5%;
	height: 8px;
	background: #E7D4E1;
	border-radius: 2px;
}
.progress_bar .steps .step > div {
	height: 8px;
	background: #953677;
	width: 0;
	border-radius: 2px;
    transition: all 0.3s;
    transition-delay: 0.2s;
	transition-timing-function: ease-out;
}
.progress_bar .steps .step.active > div {
	width: 100%;
}





/* Rating */

.rating-stars {
	margin: 8px 0 0;
}
.rating-stars-wrap {
	width: 160px;
	height: 32px;
	margin: 0 auto;
	padding: 0;
	display: flex;
    justify-content: space-between;
}
.rating-star {
	width: 32px;
	height: 32px;
	margin: 0;
	padding: 0;
	cursor: pointer;
    background-color: #018794;
    -webkit-mask-image: url('../images/ic/star_off.svg');
    mask-image: url('../images/ic/star_on.star_off');
    transition: all 0.2s;
}
.rating-star.star-on {
    -webkit-mask-image: url('../images/ic/star_on.svg');
    mask-image: url('../images/ic/star_on.svg');
}
.rating-star.hover {
    background-color: #47C4C6;
}
.rating-stars-title {
	font-weight: 500;
	font-size: 14px;
	color: #018794;
	text-align: center;
	line-height: 16px;
	margin: 8px 0 0;
	padding: 5px 0 3px;
    transition: all 0.2s;
}
.rating-stars-title.hover {
	color: #47C4C6;
}




















.quick-answer {
	margin: 0 -16px;
}
.quick-answer-slider {
	margin: 0 0;
	padding: 0 16px;
	overflow-x: scroll;
}
.quick-answer-slider-inner {
	display: flex;
	justify-content: space-between;
}
.quick-answer-slider-item {
	width: 96px;
	height: 136px;
	margin: 8px 8px 0 0;
	padding: 0;
	position: relative;
	cursor: pointer;
}
.quick-answer-slider-item:last-child {
}
.quick-answer-slider-item .image {
	width: 80px;
	height: 80px;
	position: relative;
	margin: 8px 8px 0;
}
.quick-answer-slider-item .image img {
	width: 104px;
	height: 104px;
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    transition: all 0.2s;
}
.quick-answer-slider-item .check-circle {
	position: absolute;
	z-index: 0;
	top: 50%;
	left: 50%;
	width: 78px;
	height: 78px;
	border-radius: 50%;
	background: #47C4C6;
	transform: translate(-50%, -50%);
    transition: all 0.2s;
}
.quick-answer-slider-item.checked .check-circle {
	width: 92px;
	height: 92px;
	background: #018794;
}

.quick-answer-slider-item:hover .check-circle {
	width: 92px;
	height: 92px;
}
.quick-answer-slider-item:active .check-circle {
	width: 98px;
	height: 98px;
}
.quick-answer-slider-item:hover img {
	width: 112px;
	height: 112px;
}
.quick-answer-slider-item.checked img {
	width: 112px;
	height: 112px;
}
.quick-answer-slider-item:active img {
	width: 118px;
	height: 118px;
}

.quick-answer-slider-item .check-wrap {
	position: absolute;
	top: 60px;
	left: 56px;
	width: 32px;
	height: 32px;
	background-color: #018794;
    z-index: 2;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.2s;
}
.quick-answer-slider-item.checked .check-wrap {
	top: 55px;
	opacity: 1;
}

.quick-answer-slider-item .material-icons {
	color: #fff;
	padding: 4px;
}

.quick-answer-slider-item .title {
	margin: 11px 0 0;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
}
.quick-answer-slider-item:hover .title {
	color: #018794;
}








/* Answer text */

.answer_text {
	margin: 16px 0 0;
}
.answer_text textarea {
	display: block;
	width: 100%;
	height: 104px;
	border: 1px solid #BABEC5;
	border-radius: 4px 4px 0 0;
	padding: 16px;
    margin: 0;
    box-sizing: border-box;
    resize: none;
	font-size: 16px;
	line-height: 24px;
	box-shadow: none;
	outline: none;    
    -webkit-appearance: none;
    -moz-appearance: none;
}
.answer_text textarea:focus {
	outline: none;
	border: 1px solid #018794;
	padding: 16px;
}
.answer_text .progress_bar {
    box-sizing: border-box;
	padding: 12px 8px 11px;
	margin: 0;
	font-size: 14px;
	line-height: 16px;
	border: 1px solid #BABEC5;
	border-width: 0 1px 1px;
	border-radius: 0 0 4px 4px;
	background: #F5F6F8;
	position: relative;
}
.answer_text .indicator {
	position: absolute;
	top: 12px;
	left: 12px;
	width: 24px;
	height: 24px;
	display: block;
	float: left;
	color: #018794;
}
.answer_text .description {
	display: block;
	padding: 4px 0 4px 32px;
}





/* Progerss bar for text answer */

.progress-bar {
    --size: 24px;
    --radius: 8;
    --percent: 0;
    --width: 3px;

    --bar-color: #018794;
    --inactive-color: #D2D4D9;

    height: var(--size);
    width: var(--size);
    border-radius: 50%;
    margin: auto;
    margin-bottom: 30px;
}
.progress-bar svg {
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
}
.progress-bar .shadow {
    stroke: var(--inactive-color);
}
.progress-bar .progress-bar-element {
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 0.5s, stroke .5s;
    stroke-width: var(--width);
    cx: 50%;
    cy: 50%;
    r: var(--radius);
    fill: transparent;
    stroke-dashoffset: 0;
}
.progress-bar .progress {
    stroke: var(--bar-color);
    stroke-dashoffset: calc(((100 - var(--percent)) / 100) * 3.14 * 2 * var(--radius));
    stroke-dasharray: calc(3.14 * 2 * var(--radius));
}






/* Buttons */

.button {
	display: block;
	border-radius: 4px;
	font-weight: 500;
	font-size: 18px;
	text-align: center;
	line-height: 18px;
	padding: 15px 32px;
	margin: 0;
	text-decoration: none;
    transition: all 0.5s;

}
.button.button-green {
	background: #018794;
	color: #FFFFFF;
}
.button.button-green:hover {
	background: #006E7B;
}
.button.button-grey {
	background: #D2D4D9;
	color: #323C52;
}
.button.button-grey:hover {
	background: #BFC3CC;
}

.button.button-purple {
	background: #A04A85;
	color: #fff;
}
.button.button-purple:hover {
	background: #87316C;
}

.button .material-icons {
	vertical-align: middle;
	margin: -6px -6px -6px 0;
}	





/* Next button */

.bottom-next {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	padding: 8px 16px;
	background: #fff;
	border-top: 1px solid #D2D4D9;
	z-index: 100;
}
@media only screen and (min-width: 480px) {
	.bottom-next {
		position: relative;
		border-top: 0px solid #D2D4D9;
		text-align: center;
	}
	.button {
		display: inline-block;
		max-width: 200px;
		margin: 0 auto 40px;
		padding: 19px 56px 19px 64px;
	}
}





/* Icons answers */

.answer_type_icons {
	width: 300px;
	margin: 8px auto 0;
	display: flex;
	justify-content: space-between;
}
.answer_type_icons .answer {
	width: 96px;
	height: 136px;
	margin: 0 8px 0 0;
	padding: 0;
	position: relative;
	cursor: pointer;
}
.answer_type_icons .answer:last-child { 
	margin: 0;
}
.answer_type_icons .answer .icon {
	width: 80px;
    height: 80px;
    position: relative;
    margin: 8px 8px 0;
}
.answer_type_icons .answer .bg {
	width: 80px;
	height: 80px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: #FFFFFF;
	border: 1px solid #BABEC5;
	border-radius: 50%;
    transition: all 0.2s;
}
.answer_type_icons .answer:hover .bg {
	width: 88px;
	height: 88px;
}
.answer_type_icons .answer:active .bg {
	width: 96px;
	height: 96px;
}
.answer_type_icons .answer .material-icons {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
    transition: all 0.2s;
}
.answer_type_icons .answer:hover .material-icons,
.answer_type_icons .answer.active .material-icons {
	font-size: 56px;
}
.answer_type_icons .answer.active .material-icons {
	color: #fff;
}
.answer_type_icons .answer.active .bg {
	width: 88px;
	height: 88px;
}
.answer_type_icons .answer.grey.active .bg {
	background: #777D8C;
	border: 1px solid #777D8C;
}
.answer_type_icons .answer.red.active .bg {
	background: #F1676C;
	border: 1px solid #F1676C;
}
.answer_type_icons .answer.green.active .bg {
	background: #47C4C6;
	border: 1px solid #47C4C6;
}
.answer_type_icons .answer .title {
	margin: 11px 0 0;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
}





/* Option answers */

.answer_type_options {
	margin: 16px 0 0;
}
.answer_type_options .answer {
	margin: 0 0 8px;
	padding: 11px 12px 11px 44px;
	background: #FFFFFF;
	border: 1px solid #BABEC5;
	border-radius: 4px;
	position: relative;
	font-size: 16px;
	color: #323C52;
	line-height: 24px;
	cursor: pointer;
	box-sizing: border-box;
    transition: all 0.2s;
}
.answer_type_options .answer:hover {
	background: #FAFAFA;
	border: 1px solid #AAAEB5;
}
.answer_type_options .answer.active {
	background: #47C4C6;
	border: 1px solid #47C4C6;
	color: #fff;
}
.answer_type_options .answer .material-icons {
	position: absolute;
	top: 11px;
	left: 11px;
    transition: all 0.2s;
}
.answer_type_options .answer .material-icons.blank {
	color: #BABEC5;
}
.answer_type_options .answer.active .material-icons.blank {
	opacity: 0;
}
.answer_type_options .answer .material-icons.checked {
	color: #fff;
	opacity: 0;
}
.answer_type_options .answer.active .material-icons.checked {
	opacity: 1;
}











.content-success {
	background: #ECF9F9;
	padding: 16px;
}





/* Product cards grid */

.product_cards_grid {
	padding: 16px 0;
	display: grid;
	grid-column-gap: 16px;
	grid-row-gap: 16px;
	grid-template-columns: auto;
}
@media only screen and (min-width: 480px) {
	.product_cards_grid {
		grid-template-columns: 1fr 1fr;
		padding: 16px 0 24px;
	}
}
@media only screen and (min-width: 780px) {
	.product_cards_grid {
		grid-template-columns: 1fr 1fr 1fr;
		padding: 16px 0 24px;
	}
}
.product_card {
	background: #FFFFFF;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16);
	border-radius: 4px;
	cursor: pointer;
    transition: all 0.3s;
}
.product_card:hover {
	box-shadow: 0 9px 12px 0 rgba(0,0,0,0.16);
	margin: -5px 0 5px;
}
.product_card img {
	width: 100%;
	border-radius: 4px 4px 0 0;
}
.product_card .title {
	font-size: 16px;
	line-height: 24px;
	color: #323C52;
	line-height: 20px;
	padding: 8px 16px 4px;
	font-weight: 500;
}
.product_card .description {
	font-size: 13px;
	color: #606778;
	line-height: 18px;
	height: 36px;
	padding: 0px 16px;
}
.product_card .price {
	font-size: 18px;
	color: #323C52;
	line-height: 24px;
	padding: 8px 16px 16px;
	font-weight: 700;
}






.header_step,
.content_step {
	display: block;
	opacity: 0;
	height: 0;
	overflow-y: hidden;
	transition: opacity 0.2s;
	padding: 0;
	margin: 0 auto;
}
.header_step.active,
.content_step.active {
	opacity: 1.0;
	height: auto;
	display: block;
	padding: 16px;
}

.content_step.active {
	padding: 16px 16px 80px;
}

.content_step.active {
	max-width: 448px;
	margin: 0 auto;
}
.content_step.first.active,
.content_step.last.active {
	max-width: 100%;
	margin: 0;
}

@media only screen and (min-width: 480px) {
	.content_step.active {
		padding: 32px 16px;
	}
}

.content_step.last {
	transition: opacity 1.0s;
	transition-delay: 0.3s;
}
.content_step.last.active {
	background-color: #ecf9f9;
	padding: 16px 16px 32px;;
}










/* Rules for sizing the icon */

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Colors */

.material-icons.md-grey 	{ color: rgba(119, 125, 140, 1.0); }
.material-icons.md-red 		{ color: rgba(241, 103, 108, 1.0); }
.material-icons.md-green 	{ color: rgba(71, 196, 198, 1.0); }


